{{ if ne .Params.konstrukteure (slice "-?-") }}
   Konstruiert
   {{ if eq .Params.konstrukteure .Params.fotografen }} und fotografiert {{ end }}
   von
   {{ $dot := false }}
   {{ range $index, $name := .Params.konstrukteure }}
      {{- if gt $index 0 -}}, {{ end -}}
      <a href="{{ $.Site.BaseURL }}konstrukteure/{{ $name | urlize}}">{{ $name -}}</a>
      {{- $dot = strings.HasSuffix $name "." -}}
   {{- end -}}
   {{- if not $dot -}}
      .
   {{ end }}
{{ else }}
   {{ if eq .Params.fotografen (slice "-?-") }}
      Leider sind Konstrukteur und Fotograf nicht angegeben.
   {{ else }}
      Leider ist kein Konstrukteur angegeben.
   {{ end }}
{{ end }}
{{ if ne .Params.fotografen (slice "-?-") }}
   {{ if ne .Params.konstrukteure .Params.fotografen }}
      {{ $fotoBy := delimit .Params.fotografen ", " }}
      Fotografiert von {{ $fotoBy -}}
      {{ if not (strings.HasSuffix $fotoBy ".") -}}
         .
      {{ end }}
   {{ end }}
{{ else }}
   {{ if ne .Params.konstrukteure (slice "-?-") }}
      Leider ist kein Fotograf angegeben.
   {{ end }}
{{ end }}
<br/>
{{ if ne .Params.license "unknown" }}
   Lizenz:
   {{ .Params.license }}
   -
{{ end }}
<i>
   Hochgeladen am {{ dateFormat "2.1.2006, 15:04" .Params.date }} von {{ .Params.uploadBy -}}
   {{ if not (strings.HasSuffix .Params.uploadBy ".") -}} . {{ end }}
</i>
<span style="display: inline-block; width: 0.5rem;"></span>
<span style="white-space: nowrap;">
<span class="fas fa-camera-retro"></span>&nbsp;
{{- $piclist := where .Parent.Pages "Layout" "eq" "image" -}}
{{- $this := . -}}
{{- $i := 1 -}}
{{- $inc := 1 -}}
{{- range $piclist -}}
   {{- if ne . $this -}}
      {{- $i = add $i $inc -}}
   {{- else -}}
      {{- $inc = 0 -}}
   {{- end -}}
{{- end -}}
{{- $i -}}
&nbsp;/&nbsp;
{{- len $piclist -}}
</span>