{{ define "main" }}

   {{ $indexPage := "gallery-index" }}

   <div class="padding highlightable">
      {{ partial "topbar.html" . }}
      <div id="body-inner">
         {{ with .Parent }}
            <h1>{{ .Title }}</h1>
            {{ .Content }}
            {{ $pics := where .Pages "Layout" "eq" "image" }}
            {{ if gt (len $pics) 0 }}
               <p style = "margin-top: 1.5rem; padding-left: 0.4rem; background: var(--MAIN-COMMENT-HEADER-BG-color);">
                  In dieser Galerie gibt es {{len $pics}} Bild {{- if ne (len $pics) 1 -}} er {{- end -}}:
               </p>
               {{ range $pics }}
                  {{ partial "gallery/bilderpool-thumbnail-generic" (dict "link" .RelPermalink "image" (printf "%s%s" .RelPermalink "thumbnail.jpg") "caption" .Title) }}
               {{ end }}
            {{ end }}
         {{ end }}
      </div>

      <div id="navigation">
         {{ $node := . }}
         {{ $match := 0 }}
         {{with .Parent}}
            {{ with .Parent.Sections }}
               {{ $i:=0 }}
               {{ range . }}
                  {{ if .IsAncestor $node }}
                     {{ $match = $i }}
                  {{ end }}
                  {{ $i = add $i 1 }}
               {{ end }}
            {{ end }}
            {{ $prev := index .Parent.Sections (sub $match 1) }}
            {{ $next := index .Parent.Sections (add $match 1) }}
            {{ with $prev }}
               {{ if not (where .Pages "Layout" "image") }}
                  {{ $indexPage = "" }}
               {{ end }}
               <a class="nav nav-prev" href="{{.RelPermalink}}{{$indexPage}}/" title="{{.Title}}"> <i class="fa fa-chevron-left"></i></a>
            {{ else }}
               <a class="nav nav-prev" href="{{.Parent.RelPermalink}}" title="{{.Parent.Title}}"> <i class="fa fa-arrow-up"></i></a>
            {{ end}}
            {{ with $next }}
               {{ if not (where .Pages "Layout" "image") }}
                  {{ $indexPage = "" }}
               {{ end }}
               <a class="nav nav-next" href="{{.RelPermalink}}{{$indexPage}}/" title="{{.Title}}"><i class="fa fa-chevron-right"></i></a>
            {{ else }}
               <a class="nav nav-next" href="{{.Parent.RelPermalink}}" title="{{.Parent.Title}}"> <i class="fa fa-arrow-up"></i></a>
            {{ end }}
         {{ end }}
      </div>

   </div>
{{ end }}
