{{ define "main" }}

   {{ $indexPage := "gallery-index" }}


   <div class="padding highlightable">
      {{ partial "topbar.html" . }}

      <div id="body-inner">
         <h1>{{.Title}}</h1>

         {{/* Sollte hier ein kurzer, freundlicher Text hin? */}}

         {{ $images := where .Pages.ByDate.Reverse "Section" "bilderpool" }}
         {{ if $images }}
            <h2>Bilder</h2>
            <div class="bilderpool-gallery">
               {{ range $images }}
                  {{ if eq .Layout "image" }}
                     {{ $collectionLink := printf "%s%s" .Parent.RelPermalink $indexPage }}
                     {{ partial "gallery/bilderpool-thumbnail-generic" (dict "link" .RelPermalink "image" (printf "%s%s" .RelPermalink "thumbnail.jpg") "caption" .Title "collIcon" "pics" "collLink" $collectionLink "collTitle" .Parent.Title) }}
                  {{ end }}
               {{ end }}
            </div>
         {{ end }}

{{/* Wollen wir diese Liste auch haben? - Kommentarklammern raus und sie ist da ...
         {{ $files := slice }}
         {{ range where .Pages.ByDate.Reverse "Section" "knowhow" }}
            {{ $files = append . $files }}
         {{ end }}
         {{ range where .Pages.ByDate.Reverse "Section" "ftpedia" }}
            {{ $files = append . $files }}
         {{ end }}
         {{ if $files }}
            <h2>Dateien</h2>
            <ul>
            {{ range $files }}
               <li><a href="{{.RelPermalink}}">{{.Title}}</a></li>
            {{ end }}
            </ul>
         {{ end }}
*/}}

      </div>
  </div>
{{ end }}

