{{/*
   Bei jeglichen Änderungen die Doku unter /content/techdoc/know-how.md nachpflegen!
   In case of changes update the documentation at /content/techdoc/know-how.md
   =================================================================================
*/}}

{{ define "main" }}


{{ if .Site.Params.debug }}
Kind:       {{.Kind}}<br/>
Section:    {{.Section}}<br/>
Sections:   {{.Sections}}<br/>
Pages:      {{.Pages}}<br/>
Date:       {{ dateFormat "02 Jan 2006 MST" .Date.Local }}<br/>
Time:       {{ dateFormat "15:04:05 MST" .Date.Local }}<br/>
Now:        {{ dateFormat "02 Jan 2006 15:04:05 MST" now.Local }}<br/>
PrevInSection: {{.PrevInSection}}<br/>
NextInSection: {{.NextInSection}}<br/>
Parent:     {{.Parent}}<br/>
{{ end }}


   {{ $date_format_string := "2.1.2006" }}

   {{ $wir_email := .Site.Params.email_uns }}


   {{/* --- Überprüfe ob die Pflichtangaben alle vorhanden sind --- */}}
   {{/* --- Check all mandatory field entries are available --- */}}

   {{ if not .Params.title }}
      {{ errorf "Oh oh, der Seitentitel 'title' fehlt oder ist leer in Seite %q" .Path }}
   {{ end }}

   {{ $fname := .Params.file }}
   {{ if not $fname }}
      {{ errorf "Oh oh, der Dateiname 'file' fehlt oder ist leer in Seite %q" .Path }}
   {{ end }}

   {{ $uploadDate := .Params.date }}
   {{ if not $uploadDate }}
      {{ errorf "Oh oh, das Hochladedatum 'date' fehlt oder ist leer in Seite %q" .Path }}
   {{ end }}

   {{ $uploader := .Params.uploadBy }}
   {{ if not $uploader }}
      {{ errorf "Oh oh, der Nutzername 'uploadBy' fehlt oder ist leer in Seite %q" .Path }}
   {{ end }}

   {{ $uploaderCount := 0 }}
   {{ $uploaderCount = len $uploader }}
   {{ if gt $uploaderCount 1 }}
      {{ errorf "Oh oh, zu viele 'uploadBy' in Seite %q. Nur ein Nutzername erlaubt!" .Path }}
   {{ end }}

   {{ if .Params.imported }}
      {{ if not .Params.legacy_id }}
         {{ errorf "'legacy_id' fehlt für Seite %q. Wenn der Eintrag importiert wurde, muss auch eine Legacy-ID vorhanden sein!" .Path }}
      {{ end }}
   {{ end }}


   {{/* --- Lies ein was sonst noch benötigt wird --- */}}
   {{/* --- Read additional data --- */}}

   {{ $authorsCount := 0 }}
   {{ $authors := .Params.konstrukteure }}
   {{ if $authors }}
      {{ $authorsCount = len $authors }}
   {{ end }}


   {{/* --- Spezialbehandlung für Altlasten aus den Anfängen der ftc --- */}}
   {{/* --- Special handling of legacy ftc problem sites --- */}}

   {{ if eq $uploader (slice "-LegacyAdmin-") }}
      {{ $uploaderCount = 0 }}
   {{ end }}

   {{ if eq $authors (slice "-?-") }}
      {{ $authorsCount = 0 }}
   {{ end }}


   {{/* --- Vorgeplänkel --- */}}
   {{/* --- Prologue --- */}}

   {{ $email_subject := "Da stimmt was nicht!" }}
   {{ $scratch2 := newScratch }}
   {{ printf "Hallo ihr Lieben,\n\n" | $scratch2.Set "email_body" }}
   {{ printf "ich möchte Euch auf ein Problem mit der ftc-Seite hinweisen:\n" | $scratch2.Add "email_body" }}
   {{ printf "%s%s\n" .Site.BaseURL (path.Join .File.Dir (split (lower $fname) "." | first 1)) | $scratch2.Add "email_body" }}
   {{/* printf "%s\n" (path.Join .File.Dir $fname) | $scratch2.Add "email_body" */}}
   {{/* printf "%s\n" .Path | $scratch2.Add "email_body" */}}
   {{/* printf "(Bitte diese Referenzen nicht löschen!)\n" | $scratch2.Add "email_body" */}}
   {{ printf "\n<Problembeschreibung>" | $scratch2.Add "email_body" }}


   {{/* --- HTML-Seite zusammenbauen --- */}}
   {{/* --- Assemble the HTML site --- */}}

   <div class="padding highlightable">
      {{ partial "topbar.html" . }}
      <div id="body-inner">
         <h2>{{.Title}}</h2>
         <p>
            {{ .Content }}
         </p>

         <br />

         <p>
            <a href="../{{ $fname }}" style = "float: left; margin: 1em 1.5em 1em 0;">
               {{ partial "download-icon.html" . }}
               {{/*
                  float: left => Das Bild steht links vom Text, Text läuft um das Bild herum.
                  - Siehe https://www.w3schools.com/cssref/pr_class_float.asp
                  width: 3em => Breite des Elements (hier Bild) wird festgelegt.
                  margin: top right bottom left
                  - Siehe https://www.w3schools.com/cssref/pr_margin.asp
                  em = Breite des 'm' im Grundfont => Abmessungen skalieren mit Zoomstufe
                  - Siehe https://www.w3schools.com/css/css_units.asp
               */}}
            </a>
            {{ $fname }}
            ( {{- partial "download-size.html" . -}} )
            <small>
               <br />
               {{- if gt $authorsCount 0 -}}
                  Erstellt
                  {{- if eq $authors $uploader }}
                     und hochgeladen
                  {{- end }}
                  von
                  {{ range $index, $name := $authors -}}
                     {{- if and (gt $index 0) (sub $authorsCount 1 | lt $index) -}}
                        ,
                     {{- else if gt $index 0 }}
                        und
                     {{- end }}
                     {{ if eq $authors $uploader -}}
                        <a href = "{{ $.Site.BaseURL -}} konstrukteure/ {{- $name|urlize }}">{{ $name }}</a>
                     {{- else -}}
                        <i>{{ $name -}}</i>
                     {{- end -}}
                  {{- end -}}
                  .
               {{- else -}}
                  Leider ist kein Autor angegeben.
               {{- end -}}
               <br />
               Hochgeladen
               {{  if eq $uploaderCount 1 -}}
                  {{ if not (eq $authors $uploader) -}}
                     von
                     <a href = "{{ $.Site.BaseURL -}} konstrukteure/ {{- delimit $uploader ", " | urlize -}}">{{- delimit $uploader ", " -}}</a>
                  {{ end -}}
               {{  end -}}
               am
               {{ dateFormat $date_format_string $uploadDate -}}
               .
            </small>
         </p>

         <p>
            <small>
                <b>Hinweis:</b>
               Das Herunterladen, Öffnen und Ausführen von Dateien geschieht auf
               eigene Gefahr.
               Wir können keine Verantwortung für eventuelle Fehler oder gar Schäden
               übernehmen, die beim Ausführen von Programmen oder Bauanleitungen entstehen könnten.
               Falls Du einen Fehler findest, kontaktiere bitte
               <a href="mailto:{{$wir_email}}?subject={{$email_subject}}&body={{$scratch2.Get "email_body"}}">uns</a>.
            </small>
         </p>

      </div>

      <div id="navigation">
         {{with .PrevInSection}}
            <a class="nav nav-prev" href="{{.RelPermalink}}" title="{{.Title}}"> <i class="fa fa-chevron-left"></i></a>
         {{else}}
            {{with .Parent}}
               <a class="nav nav-prev" href="{{.RelPermalink}}" title="{{.Title}}"> <i class="fas fa-arrow-up"></i></a>
            {{end}}
         {{end}}
         {{with .NextInSection}}
            <a class="nav nav-next" href="{{.RelPermalink}}" title="{{.Title}}"> <i class="fa fa-chevron-right"></i></a>
         {{else}}
            {{with .Parent}}
               <a class="nav nav-next" href="{{.RelPermalink}}" title="{{.Title}}"> <i class="fas fa-arrow-up"></i></a>
            {{end}}
         {{end}}
      </div>

   </div>

{{ end }}
