{{ define "main" }}

   {{ $date_format_string := "02.01.2006" }}

   {{ $maxChars := 100 }}


   <div class="padding highlightable">
      {{ partial "topbar.html" . }}

            <div id="body-inner">
         {{if (not .Params.chapter) }}
            <h1>{{.Title}}</h1>
         {{end}}

         {{ .Content }}
         
        {{ range .Pages.ByDate }}
          {{ if .Page }}
            <h4>
               <a href = "{{ .RelPermalink }}"><i class="fas fa-book-reader"></i></a>
               -
               <a href = "{{ .RelPermalink }}" style = "color: Black;"> {{ .Title }} </a>
            </h4>
            <p>{{ .Summary | markdownify | safeHTML | truncate $maxChars }}</p>
            <a href = "{{ .RelPermalink }}">Weiterlesen</a>
        {{ end }}
      {{ end }}
         
        {{ range .Sections.ByWeight }}
         <hr>
         <h4>
            <a href = "{{ .RelPermalink }}"> <i class="far fa-folder-open"></i> </a>
            -
            <a href = "{{ .RelPermalink }}" style = "color: Black;"> {{ .Title }} </a>
         </h4>
         <p>{{ .Summary | markdownify | safeHTML | truncate $maxChars }}</p>
         <a href = "{{ .RelPermalink }}">Abschnitt öffnen</a>
      {{ end }}
      

        

      </div> 
   </div>

{{ end }}
