{{/* Bei jeglichen Änderungen die Doku unter /content/techdoc/know-how.md nachpflegen! */}}
{{/* In case of changes update the documentation at /content/techdoc/know-how.md */}}


{{ define "main" }}


{{ if .Site.Params.debug }}
Kind:       {{.Kind}}<br/>
Section:    {{.Section}}<br/>
Sections:   {{.Sections}}<br/>
Pages:      {{.Pages}}<br/>
Date:       {{ dateFormat "02 Jan 2006 MST" .Date.Local }}<br/>
Time:       {{ dateFormat "15:04:05 MST" .Date.Local }}<br/>
Now:        {{ dateFormat "02 Jan 2006 15:04:05 MST" now }}<br/>
{{ end }}


{{ $maxChars := 320 }}

  <div class="padding highlightable">
    {{ partial "topbar.html" . }}

    <div id="body-inner">
      <h1>{{.Title}}</h1>

      {{ .Content }}

      {{ range .Sections }}
         <hr>
         <h4>
            <a href = "{{ .RelPermalink }}"> <i class="far fa-folder-open"></i> </a>
            -
            <a href = "{{ .RelPermalink }}" style = "color: Black;"> {{ .Title }} </a>
         </h4>
         <p>{{ .Summary | markdownify | safeHTML | truncate $maxChars }}</p>
         <a href = "{{ .RelPermalink }}">Abschnitt öffnen</a>
      {{ end }}

      {{ range .Pages }}
         {{ if eq .Layout "file" }}
            <hr>
            <h4>
               <a href = "{{ .RelPermalink }}"><i class="fas fa-download"></i></a>
               -
               <a href = "{{ .RelPermalink }}" style = "color: Black;"> {{ .Title }} </a>
            </h4>
            <p>{{ .Summary | markdownify | safeHTML | truncate $maxChars }}</p>
            <a href = "{{ .RelPermalink }}">Zum Download</a>
         {{ else if eq .Layout "wiki" }}
            <hr>
            <h4>
               <a href = "{{ .RelPermalink }}"><i class="fas fa-book-reader"></i></a>
               -
               <a href = "{{ .RelPermalink }}" style = "color: Black;"> {{ .Title }} </a>
            </h4>
            <p>{{ .Summary | markdownify | safeHTML | truncate $maxChars }}</p>
            <a href = "{{ .RelPermalink }}">Weiterlesen</a>
         {{ else if .IsPage }}
            {{ errorf "Oh oh, hier fehlt die Ansichtsdefinition für das Layout '%s' in Seite %q" .Layout .Path }}
         {{ end }}
      {{ end }}

      <hr>
      <br />

      <footer class=" footline" >
        {{with .Params.LastModifierDisplayName}}
          <i class='fas fa-user'></i>
          <a href="mailto:{{ $.Params.LastModifierEmail }}">{{ . }}</a> 
          {{with $.Date}}
            <i class='fas fa-calendar'></i> {{ .Format "02/01/2006" }}
          {{end}}
	{{end}}
      </footer>

    </div> 
    {{/* partial "custom-comments.html" . */}}
  </div>
{{ end }}
