<style type="text/css">
/* Generell */
h2, h3, h4, h5, h6 {
    font-weight: 200;
}

h1 {
  font-size: 3rem;
  margin: 0.85rem 0 0.5rem 0;
  text-transform: none;
}

h2 {
  font-size: 2rem;
  margin: 0.85rem 0 0.5rem 0;
  border-bottom: solid 1px #aaa;
}

small {
  font-size: 0.8rem;
}

#body .padding {
    padding: 0;
}

#body-inner {
    padding: 0 3rem;
    margin-bottom: 1rem;
    margin-left: auto;
    margin-right: auto;
    max-width: 60em;
}

@media only all and (max-width: 47.938em) {
    #body-inner {
        padding: 0 1rem;
    }
}

/* Bilderpool = Fotosammlung = Gallery */
/* =================================== */

#body-inner .separator {
   margin-top: 1.5rem;
   padding-left: 0.4rem;
   background: var(--MAIN-COMMENT-HEADER-BG-color);
}

#body-inner .truncate-elli {
   max-width: 100%;
   white-space: nowrap;
   overflow: hidden;
   text-overflow: ellipsis;
}

#body-inner figure.bilderpool-image {
    margin: 0 auto;
    display: table;
}
#body-inner figure.bilderpool-image img {
    max-height: 60vh;
    margin: 0;
}

#body-inner figure.bilderpool-image figcaption {
    display: table-caption;
    caption-side: bottom;
}

#body-inner figure.bilderpool-thumbnail {
    display: inline-block;
    width: 24%;
    margin: 0;
    white-space: normal;
    word-wrap: break-word;
//  white-space: nowrap;
    overflow: hidden;
//  text-overflow: ellipsis;
    vertical-align: text-top;
    text-align: left;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-bottom: 0.3rem;
}

@media only all and (max-width: 40em) {
    #body-inner figure.bilderpool-thumbnail {
       width: 48%;
    }
}

@media only all and (max-width: 20em) {
    #body-inner figure.bilderpool-thumbnail {
       width: 100%;
    }
}

#body-inner figure.bilderpool-thumbnail > a {
   display: block;
   width: 100%;
   height: 100%;
   padding-bottom: 100%;
   position: relative;
}

#body-inner figure.bilderpool-thumbnail > a > img {
   position: absolute;
   width: 100%;
   height: 100%;
   object-fit: cover;
   margin: 0;
   border: none;
// border: 3px solid var(--MAIN-LINK-HOVER-color);
   padding: 0px;
// padding: 3px;
// background: var(--MAIN-THUMB-LINK-HOVER-BG-color);
}

#body-inner figure.bilderpool-thumbnail > a > img:hover {
// border: none;
   border: 3px solid var(--MAIN-LINK-HOVER-color);
// padding: 0px;
   padding: 3px;
}

#body-inner figure.bilderpool-thumbnail > figcaption {
   font-size: 0.8rem;
   text-align: center;
}


/* https://www.w3schools.com/cssref/pr_list-style-type.asp */
/* Geht leider nicht mit FontAwesome - oder ich hab den Trick noch nicht
   gefunden. Jedenfalls muss hier das <i class="fas fa-book"></i> davor! */

#body-inner ul.album-list {
   list-style: none;
   padding: 0;
   margin: 0;
}

#body-inner li.album-list::before {
   content: "»";
}


/* https://www.w3schools.com/css/css_tooltip.asp */
.tooltip {
   position: relative;
   display: inline-block;
// border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
   visibility: hidden;
   width: auto;
   max-width: 100%;
   min-width: 10%;
   background-color: var(--MENU-SECTIONS-BG-color);
   color: var(--MENU-SECTIONS-LINK-color);
   text-align: left;
   border-radius: 6px;
   padding: 5px 10px;

   /* Position the tooltip */
   position: absolute;
   z-index: 1;
   top: 100%;
   left: 0;
   margin-left: 0;
}

.tooltip .tooltiptext::after {
   content: "";
   position: absolute;
   bottom: 100%;
   left: 50%;
   margin-left: -5px;
   border-width: 8px;
   border-style: solid;
   border-color: transparent transparent var(--MENU-SECTIONS-BG-color) transparent;
}

.tooltip:hover .tooltiptext {
   visibility: visible;
}


#body-inner figure.ftpedia-thumbnail {
    display: inline-block;
    width: 24%;
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-align: center;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

@media only all and (max-width: 40em) {
    #body-inner figure.ftpedia-thumbnail {
       width: 48%;
    }
}

@media only all and (max-width: 20em) {
    #body-inner figure.ftpedia-thumbnail {
       width: 100%;
    }
}

#body-inner figure.ftpedia-thumbnail > a > img {
   margin-top: 0.5rem;
   margin-bottom: 0.5rem;
}


</style>

