 
  <table>
    {{ .Content }}   
    
    <thead>
      <tr>
      <th>Ausgabe</th>
      <th>Autoren</th>
      <th>Rubrik</th>
      <th>Titel</th>
      <th>Seiten</th>
      <th>Abstract</th>
      </tr>
    </thead>
    <tbody>
    {{ $url := "ftPedia_Artikeluebersicht.csv" }}
    {{ $sep := ";" }}
    {{ range $i, $r := getCSV $sep $url }}
      <tr>
        <td>{{ index $r 0 }}</td>
        <td>{{ index $r 1 }}</td>
        <td>{{ index $r 2 }}</td>
        <td>{{ index $r 3 }}</td>
        <td>{{ index $r 4 }}</td>
        <td>{{ index $r 5 }}</td>
      </tr>
    {{ end }}
    </tbody>
  </table>
