{{ define "main" }}

   {{ $date_format_string := "02.01.2006" }}

   {{ $maxChars := 100 }}


   <div class="padding highlightable">
      {{ partial "topbar.html" . }}

            <div id="body-inner">
         {{if (not .Params.chapter) }}
            <h1>{{.Title}}</h1>
         {{end}}

         {{ .Content }}
         
        {{ range .Pages.ByTitle }}
          {{ if .Page }}
            <h4>
               <a href = "{{ .RelPermalink }}"><i class="fas fa-book-reader"></i></a>
               -
               <a href = "{{ .RelPermalink }}" style = "color: Black;"> {{ .Title }} </a>
            </h4>
         {{ end }}
      {{ end }}
         
      

      </div> 
   </div>

{{ end }}
