{{ define "main" }}

{{ if not .Title }}
   {{ errorf "Oh oh, der Seitentitel 'title' fehlt oder ist leer in Seite %q" .Path }}
{{ end }}


{{ if .Site.Params.debug }}
Permalink:  {{.RelPermalink}}<br/>
Kind:       {{.Kind}}<br/>
Section:    {{.Section}}<br/>
Sections:   {{.Sections}}<br/>
Pages:      {{.Pages}}<br/>
Date:       {{ dateFormat "02 Jan 2006 MST" .Date.Local }}<br/>
Time:       {{ dateFormat "15:04:05 MST" .Date.Local }}<br/>
Now:        {{ dateFormat "02 Jan 2006 15:04:05 MST" now }}<br/>
Prev:       {{.Prev}}<br/>
PrevPage:   {{.PrevPage}}<br/>
PrevInSection: {{.PrevInSection}}<br/>
Next:       {{.Next}}<br/>
NextPage:   {{.NextPage}}<br/>
NextInSection: {{.NextInSection}}<br/>
Parent:     {{.Parent}}<br/>
{{ end }}


<script language="javascript" type="text/javascript">
   <!--
   function sortTable(table, col, reverse) {
       var tb = table.tBodies[0], // use `<tbody>` to ignore `<thead>` and `<tfoot>` rows
           tr = Array.prototype.slice.call(tb.rows, 0), // put rows into array
           i;
       reverse = -((+reverse) || -1);
       tr = tr.sort(function (a, b) { // sort rows
           return reverse // `-1 *` if want opposite order
               * (a.cells[col].textContent.trim() // using `.textContent.trim()` for test
                   .localeCompare(b.cells[col].textContent.trim())
                  );
       });
       for(i = 0; i < tr.length; ++i) tb.appendChild(tr[i]); // append each row in order
   }

   function makeSortable(table) {
       var th = table.tHead, i;
       th && (th = th.rows[0]) && (th = th.cells);
       if (th) i = th.length;
       else return; // if no `<thead>` then do nothing
       while (--i >= 0) (function (i) {
           var dir = 1;
           if (i!=3)
               th[i].addEventListener('click', function () {sortTable(table, i, (dir = 1 - dir))});
       }(i));
   }

   function makeAllSortable(parent) {
       parent = parent || document.body;
       var t = parent.getElementsByTagName('table'), i = t.length;
       while (--i >= 0) makeSortable(t[i]);
   }

   window.onload = function () {
       makeAllSortable();
   };
   -->
</script>


{{ $date_format_string := "02.01.2006" }}


   <div class="padding highlightable"  style="overflow: scroll;">
      {{ partial "topbar.html" . }}
      <div id="body-inner">
         <h2>{{.Title}}</h2>
         {{ .Content }}
         <table>
            <thead>
               <tr>
                  <th style = "cursor: n-resize; text-align: center;">Jahr</th>
                  <th style = "cursor: n-resize; text-align: center;">Heft</th>
                  <th style = "cursor: n-resize">Thema</th>
                  <th style = "text-align: center;"><i class="fas fa-download"></i></th>
                  <th style = "cursor: n-resize">Autor(en)</th>
               </tr>
            </thead>
            <tbody>
               {{ with .Parent }}
                  {{ range .Sections.ByTitle.Reverse }}
                     {{ range .Sections.ByTitle.Reverse }}
                        {{ if eq .Layout "issue" }}
                           {{ $AusgabeJahr := delimit (findRE "[0-9]*$" .Title) " " }}
                           {{ $AusgabeNummer := delimit (findRE "^[0-9]*" .Title) " " }}
                           {{ range .Pages.ByDate.Reverse }}
                              <tr>
                                 <td>{{ $AusgabeJahr}}</td>
                                 <td>{{ $AusgabeNummer }}</td>
                                 <td>
                                    <a href = "{{ .RelPermalink }}">
                                       {{ .Title }}
                                    </a>
                                 </td>
                                 <td style = "text-align: center;">
                                    <a style = "display: block;"
                                       href="{{.Parent.RelPermalink}}{{.Params.File}}">
                                       {{ partial "download-icon.html" . }}
                                    </a>
                                    {{ partial "download-size.html" . }}
                                 </td>
                                 <td>{{ partial "authors-list.html" . }}</td>
                              </tr>
                           {{ end }}
                        {{ end }}
                     {{ end }}
                  {{ end }}
               {{ end }}
            </tbody>
         </table>
      </div>
   </div>
{{ end }}