{{ define "main" }}

{{ if not .Title }}
   {{ errorf "Oh oh, der Seitentitel 'title' fehlt oder ist leer in Seite %q" .Path }}
{{ end }}

{{ if .Site.Params.debug }}
Permalink:  {{.RelPermalink}}<br/>
Kind:       {{.Kind}}<br/>
Section:    {{.Section}}<br/>
Sections:   {{.Sections}}<br/>
Pages:      {{.Pages}}<br/>
Date:       {{ dateFormat "02 Jan 2006 MST" .Date.Local }}<br/>
Time:       {{ dateFormat "15:04:05 MST" .Date.Local }}<br/>
Now:        {{ dateFormat "02 Jan 2006 15:04:05 MST" now }}<br/>
Prev:       {{.Prev}}<br/>
PrevPage:   {{.PrevPage}}<br/>
PrevInSection: {{.PrevInSection}}<br/>
Next:       {{.Next}}<br/>
NextPage:   {{.NextPage}}<br/>
NextInSection: {{.NextInSection}}<br/>
Parent:     {{.Parent}}<br/>
{{ end }}


{{ $date_format_string := "02.01.2006" }}


   <div class="padding highlightable">
      {{ partial "topbar.html" . }}
{{/* ==================================================================== */}}

      {{ if .Layout }}
         {{ if eq .Layout "issue" }}
{{/* --- Ausgabe / Issue ------------------------------------------------ */}}
      {{/* --- Überprüfe ob die Pflichtangaben alle vorhanden sind --- */}}
      {{/* --- Check if all mandatory field entries are available  --- */}}

      {{ if not .Params.file }}
         {{ errorf "Oh oh, der Dateiname 'file' fehlt oder ist leer in Seite %q" .Path }}
      {{ end }}

      {{ if not .Params.publishDate }}
         {{ errorf "Oh oh, das Datum 'publishDate' fehlt oder ist leer in Seite %q" .Path }}
      {{ end }}

      {{ $AusgabeJahr := delimit (findRE "[0-9]*$" .Title) " " }}
      {{ $AusgabeNummer := delimit (findRE "^[0-9]*" .Title) " " }}

      <div id="body-inner">
         <h2>Ausgabe {{.Title}}</h2>
         <div style = "float:left; text-align: center; margin: 0.25em 1.5em 0 0.4em;">
            <a href = "{{.RelPermalink}}{{.Params.file}}">
               <img style = "display: block; max-width: 100%; margin: 0;"
                    src = "{{- .RelPermalink -}} titelseite.png"
                    alt = "{{.RelPermalink}}{{.Params.file}}">
            </a>
            <small>
               Erschienen am {{ dateFormat $date_format_string .Params.publishDate }}
               <br />
               ( {{- partial "download-size.html" . -}} )
            </small>
         </div>
         <!-- Hier wird nun der Inhalt der Ausgabe aufgelistet. Issue #62 im POC:
            https://gitlab.com/ftcommunity/website-hugo-poc/issues/62
            Die Form und der Inhalt entsprechen Issue #1 der "Technik":
            https://gitlab.com/ftcommunity/website-layout/issues/1
         -->
         <table style="width: auto; max-width: 75%; min-width: 250px; border: none;">
            {{ $data := (getCSV ";" "content/ftpedia/ftPedia_Artikeluebersicht.csv") }}
            <thead>
               <tr>
                  {{ $header := first 1 $data }}
                  {{ range $row := $header }}
                     <!--<th>{{ index $row 0 }}</th>-->
                     <!--<th>{{ index $row 1 }}</th>-->
                     <!--<th>{{ index $row 2 }}</th>-->
                     <th style="border:none; width: 100%;">{{ index $row 3 }}</th>
                     <th style="border:none; text-align: right;">Seite</th>
                     <!--<th>{{ index $row 5 }}</th>-->
                  {{end}}
               </tr>
            </thead>
            <tbody>
               {{ $body := after 1 $data }}
               {{ range $row := $body }}
                  {{/* index $row 0 enthält die Ausgabe im Stile '2018-3'. */}}
                  {{ $Ausgabe := index $row 0 }}
                  {{ $InhaltJahr := delimit (findRE "^[0-9]*" $Ausgabe) " " }}
                  {{ $InhaltNummer := delimit (findRE "[0-9]*$" $Ausgabe) " " }}
                  {{ if eq $InhaltJahr $AusgabeJahr }}
                     {{ if eq $InhaltNummer $AusgabeNummer }}
                        <tr>
                           <!--<td>{{ index $row 0 }}</td>-->
                           <!--<td>{{ index $row 1 }}</td>-->
                           <!--<td>{{ index $row 2 }}</td>-->
                           <td style="border-top-style: solid; border-right-style: none; border-bottom-style: none; border-left-style: none; vertical-align: middle;">
                              {{/* index $row 4    enthält die Seitenzahlen im Stile '5-33'. */}}
                              {{ $Seite := delimit (findRE "^[0-9]*" (index $row 4)) " " }}
                              <a href = "{{- $.Site.BaseURL -}}ftpedia/{{- $InhaltJahr -}}/{{- $Ausgabe -}}/ftpedia-{{- $Ausgabe -}}.pdf#page={{- $Seite -}}">
                                 {{/* index $row 3 enthält den Titel des Artikels. */}}
                                 {{ index $row 3 }}
                              </a>
                           </td>
                           <td style="border-top-style: solid; border-right-style: none; border-bottom-style: none; border-left-style: none; text-align: right; vertical-align: middle;">{{ $Seite }}</td>
                           <!--<td>{{ index $row 5 }}</td>-->
                        </tr>
                     {{ end }}
                  {{ end }}
               {{ end }}
            </tbody>
         </table>
         <div style = "clear: left">
            <hr style = "margin-top: 0px"/>
            {{ with .Pages }}
               Zu einigen Artikeln dieser Ausgabe gibt es begleitende Downloads:<br />
               <br />
               <table>
                  <thead>
                     <tr>
                        <th>Thema</th>
                        <th style = "text-align: center;"><i class="fas fa-download"></i></th>
                        <th>Autor(en)</th>
                     </tr>
                  </thead>
                  <tbody>
                     {{ range .ByTitle }}
                        <tr>
                           <td>
                              <a href = "{{ .RelPermalink }}">
                                 {{ .Title }}
                              </a>
                           </td>
                           <td style = "text-align: center;">
                              <a style = "display: block;"
                                 href="{{ path.Dir .RelPermalink | path.Dir }}/{{ .Params.file }}">
                                 {{ partial "download-icon.html" . }}
                              </a>
                              {{ partial "download-size.html" . }}
                           </td>
                           <td>
                              {{ partial "authors-list.html" . }}
                           </td>
                        </tr>
                     {{end}}
                  </tbody>
               </table>
            {{ else }}
               Zu dieser Ausgabe gibt es keine begleitenden Downloads.
            {{ end }}
         </div>
      </div>
      <div id="navigation">
         {{ $n := int $AusgabeNummer }}
         {{ $y := int $AusgabeJahr }}
         {{ $yp := $y }}
         {{ $np := $n }}
         {{ $yn := $y }}
         {{ $nn := $n }}
         {{ if gt $n 1 }}
            {{ $np = sub $n 1 }}
         {{ else }}
            {{ $yp = sub $y 1 }}
            {{ $np = 4 }}
         {{ end }}
         {{ if lt $n 4 }}
            {{ $nn = add $n 1 }}
         {{ else }}
            {{ $yn = add $y 1 }}
            {{ $nn = 1 }}
         {{ end }}
         {{ with .Parent }}
            {{ with .Parent }}
               {{ if ge $yp 2011 }}
                  <a class="nav nav-prev" href="{{.RelPermalink}}{{$yp}}/{{$yp}}-{{$np}}/" title="{{$np}} / {{$yp}}"> <i class="fas fa-chevron-left"></i></a>
               {{ else }}
                  <a class="nav nav-prev" href="{{.RelPermalink}}{{$y}}/" title="{{$y}}"> <i class="fas fa-arrow-up"></i></a>
               {{ end }}
               {{ if fileExists (printf "%s/%d/%d-%d/_index.md" .Section $yn $yn $nn) }}
                  <a class="nav nav-next" href="{{.RelPermalink}}{{$yn}}/{{$yn}}-{{$nn}}/" title="{{$nn}} / {{$yn}}"> <i class="fas fa-chevron-right"></i></a>
               {{ else }}
                  <a class="nav nav-next" href="{{.RelPermalink}}{{$y}}/" title="{{$y}}"> <i class="fas fa-arrow-up"></i></a>
               {{ end }}
            {{ end }}
         {{ end }}
      </div>
{{/* -------------------------------------------------------------------- */}}
         {{ else }}                           {{/* not eq .Layout "issue" */}}
            {{if eq .Layout "teaser" }}
{{/* --- Teaser --------------------------------------------------------- */}}
      {{/* --- Überprüfe ob die Pflichtangaben alle vorhanden sind --- */}}
      {{/* --- Check if all mandatory field entries are available  --- */}}

      {{ if not .Params.launchDate }}
         {{ errorf "Oh oh, das Veröffentlichungsdatum 'launchDate' fehlt oder ist leer in Seite %q" .Path }}
      {{ end }}

      <div id="body-inner">
         <h2>Ausgabe {{.Title}}</h2>
         <div style = "float:left; text-align: center; margin: 0.25em 1.5em 0 0.4em;">
            <img src = "{{- .RelPermalink -}} titelseite.png"
                 alt = {{.Title}}>
         </div>
         <p style = "text-align: center;">
            Noch etwas Geduld bitte! Die neue Ausgabe kommt am {{ dateFormat $date_format_string .Params.launchDate }} ins Angebot.
         </p>
      </div>
      <div id="navigation">
         {{ $AusgabeJahr := delimit (findRE "[0-9]*$" .Title) " " }}
         {{ $AusgabeNummer := delimit (findRE "^[0-9]*" .Title) " " }}
         {{ $n := int $AusgabeNummer }}
         {{ $y := int $AusgabeJahr }}
         {{ $yp := $y }}
         {{ $np := $n }}
         {{ if gt $n 1 }}
            {{ $np = sub $n 1 }}
         {{ else }}
            {{ $yp = sub $y 1 }}
            {{ $np = 4 }}
         {{ end }}
         {{ with .Parent }}
            {{ with .Parent }}
               {{ if ge $yp 2011 }}
                  <a class="nav nav-prev" href="{{.RelPermalink}}{{$yp}}/{{$yp}}-{{$np}}/" title="{{$np}} / {{$yp}}"> <i class="fas fa-chevron-left"></i></a>
               {{ else }}
                  <a class="nav nav-prev" href="{{.RelPermalink}}{{$y}}/" title="{{$y}}"> <i class="fas fa-arrow-up"></i></a>
               {{ end }}
               <a class="nav nav-next" href="{{.RelPermalink}}{{$y}}/" title="{{$y}}"> <i class="fas fa-arrow-up"></i></a>
            {{ end }}
         {{ end }}
      </div>
{{/* -------------------------------------------------------------------- */}}
            {{ else }}                       {{/* not eq .Layout "teaser" */}}
               {{ if eq .Layout "ftpediaAll" }}
{{/* --- Hauptseite / Section Root--------------------------------------- */}}
      {{/* Alle Jahrgänge in der Übersicht */}}
      {{/* All editions, sorted by year    */}}

      <div id="body-inner">
         <h2>{{.Title}}</h2>
         {{ .Content }}
         {{ range .Sections.ByTitle.Reverse }}
            <hr>
            <h4>
               <a class = "ftplink" href = "{{.Title}}">
                  Jahrgang {{.Title}}
               </a>
            </h4>
            {{ $accompanions := false }}
            {{range.Sections.ByTitle }}
               <figure class="ftpedia-thumbnail">
               <a class = "ftplink" href = "{{.RelPermalink}}">
                  {{.Title}}
               </a>
               {{ if eq .Params.layout "teaser" }}
                  <img src = "{{- .RelPermalink -}} titelseite.png"
                       alt = {{.Title}}>
                  <small>
                     Ab {{ dateFormat $date_format_string .Params.launchDate }}
                  </small>
               {{ else }}
                  <a href = "{{.RelPermalink}}{{.Params.file}}">
                     <img src = "{{- .RelPermalink -}} titelseite.png"
                          alt = "{{.RelPermalink}}{{.Params.file}}">
                  </a>
                  <small>
                     {{ .Date.Format $date_format_string }}
                  </small>
                  {{ if gt .Pages 0 }}
                     {{ $accompanions = true }}
                  {{ end }}
               {{ end }}
               </figure>
            {{end}}
            {{ if $accompanions }}
               <br/>
               <a href = "{{.Title}}">
                  Es gibt begleitende Downloads zu einigen Ausgaben.
               </a>
            {{ end }}
            <br />
         {{end}}
      </div>
{{/* -------------------------------------------------------------------- */}}
               {{ else }}                {{/* not eq .Layout "ftpediaAll" */}}
                  {{ errorf "Oh oh, section ftpedia enthält einen unbekannten Seitentyp 'layout' %q für Seite %q" .Layout .Path }}
               {{ end }}   {{/* .Layout "ftpediaAll" */}}
            {{ end }}   {{/* .Layout "teaser" */}}
         {{ end }}   {{/* .Layout "issue" */}}
      {{ else }}                                         {{/* not .Layout */}}
{{/* --- Jahrgang / One Year -------------------------------------------- */}}
      {{/* Ein Jahrgang (Titelbilder als Download-Links)      */}}
      {{/* One year's editions (frontpages as download-links) */}}

      <div id="body-inner">
         <h2>{{.Title}}</h2>
         {{ $accompanions := false }}
         {{ with .Sections }}
            <br />
            {{ range .ByTitle }}

               {{/* --- Überprüfe ob die Pflichtangaben alle vorhanden sind --- */}}
               {{/* --- Check if all mandatory field entries are available --- */}}

               {{ if not .Title }}
                  {{ errorf "Oh oh, der Seitentitel 'title' fehlt oder ist leer in Seite %q" .Path }}
               {{ end }}

               {{ if eq .Params.layout "file" }}
                  {{ if not .Params.file }}
                     {{ errorf "Oh oh, der Dateiname 'file' fehlt oder ist leer in Seite %q" .Path }}
                  {{ end }}
               {{ end }}

               <figure class="ftpedia-thumbnail">
                  <a class = "ftplink"
                     href = "{{.RelPermalink}}">
                     {{.Title}}
                  </a>
                  {{ if eq .Params.layout "teaser" }}
                     <img src = "{{- .RelPermalink -}} titelseite.png"
                          alt = {{.Title}}>
                     <small>
                        Ab {{ dateFormat $date_format_string .Params.launchDate }}
                     </small>
                  {{ else }}
                     <a href = "{{.RelPermalink}}{{.Params.file}}">
                        <img src = "{{- .RelPermalink -}} titelseite.png"
                             alt = {{.Title}}>
                     </a>
                     <small>
                        {{ .Date.Format $date_format_string }}
                     </small>
                     {{ if gt .Pages 0 }}
                        {{ $accompanions = true }}
                     {{ end }}
                  {{ end }}
               </figure>
            {{ end }}
         {{ end }}
         <hr />
         {{ if $accompanions }}
            Zu einigen Artikeln dieser Ausgabe gibt es begleitende Downloads:<br />
            <br />
            <table>
               <thead>
                  <tr>
                     <th style = "text-align: center;">Ausgabe</th>
                     <th>Thema</th>
                     <th style = "text-align: center;"><i class="fas fa-download"></i></th>
                     <th>Autor(en)</th>
                  </tr>
               </thead>
               <tbody>
                  {{ range .Sections.ByTitle }}
                     {{ $edition := .Title }}
                     {{ range .Pages.ByTitle }}
                        <tr>
                           <td style = "text-align: center;">
                              {{ $edition }}
                           </td>
                           <td>
                              <a href = "{{ .RelPermalink }}">
                                 {{ .Title }}
                              </a>
                           </td>
                           <td style = "text-align: center;">
                              <a style = "display: block;"
                                 href="{{ path.Dir .RelPermalink | path.Dir }}/{{ .Params.file }}">
                                 {{ partial "download-icon.html" . }}
                              </a>
                              {{ partial "download-size.html" . }}
                           </td>
                           <td>
                              {{ partial "authors-list.html" . }}
                           </td>
                        </tr>
                     {{end}}
                  {{end}}
               </tbody>
            </table>
         {{ else }}
            Zu diesen Ausgaben gibt es keine begleitenden Downloads.
         {{ end }}
      </div>
      <div id="navigation">
         {{ $AusgabeJahr := delimit (findRE "[0-9]*$" .Title) " " }}
         {{ $y := int $AusgabeJahr }}
         {{ $yp := sub $y 1 }}
         {{ $yn := add $y 1 }}
         {{ with .Parent }}
            {{ if ge $yp 2011 }}
               <a class="nav nav-prev" href="{{.RelPermalink}}{{$yp}}/" title="{{$yp}}"> <i class="fas fa-chevron-left"></i></a>
            {{ else }}
               <a class="nav nav-prev" href="{{.RelPermalink}}" title=".Title"> <i class="fas fa-arrow-up"></i></a>
            {{ end }}
<!-- Da muss auch wenigstens ein Unterordner für yyyy-1/ existieren und da muss auch ein _index.md drin sein! Vorbereitete "leere" Jahrgangs-Ordner werden so ignoriert!
  Den Rest macht oben der Teil für die Einzelausgabe. -->
            {{ if fileExists (printf "%s/%d/%d-1/_index.md" .Section $yn $yn) }}
               <a class="nav nav-next" href="{{.RelPermalink}}{{$yn}}/" title="{{$yn}}"> <i class="fas fa-chevron-right"></i></a>
            {{ else }}
               <a class="nav nav-next" href="{{.RelPermalink}}" title=".Title"> <i class="fas fa-arrow-up"></i></a>
            {{ end }}
         {{ end }}
      </div>
{{/* -------------------------------------------------------------------- */}}
      {{ end }}   {{/* .Layout */}}

{{/* ==================================================================== */}}
   </div>
{{ end }}
